extends layout

block content
  .container(ng-cloak)
    h1 Calculords Haaax
    //- Start button
    .row(ng-if='!g.loading && !g.results && !g.screenshotURL')
      div
        button.btn(ng-click='g.startLevel()') Start Level

    //- Punched in numbers, computing...
    .row(ng-if='g.loading')
      h3 Results
      div
        .progress
          .progress-bar.progress-bar-striped.active(
            role='progressbar'
            aria-valuenow='{{ g.percent }}'
            aria-valuemin='0'
            aria-valuemax='100'
            ng-style="{width:  g.percent + '%'}"
          ) {{ g.percent | number }}%

    //- Have screenshot, run level
    .row(ng-if='g.screenshotURL')
      form(ng-submit='g.runLevel()')
        .row
          .col-xs-6
            label
              | Cards:
              input.cards(ng-list=',', ng-model='g.cards')
          .col-xs-6
            label
              | Nums:
              input.nums(ng-list=',', ng-model='g.nums')
        .row
          .col-xs-6
            | {{ g.cards | json}} ({{ g.cards.length }})
          .col-xs-6
            | {{ g.nums | json}} ({{ g.nums.length }})
        .row
          button.btn.calculate Calculate
      .row
        .col-xs-12.screen-container(ng-if="g.screenshotURL && !(g.loading || g.results)")
          img.screenshot(ng-src="/screens/{{ g.screenshotURL }}.png")



    //- Not needed currently
    .row(ng-if='false')
      div(
        ng-repeat='result in g.results'
        ng-if='!g.loading && g.results.length'
      )
        h4(ng-click='g.selected = result') {{ result.ints | json}}
        button.btn.btn-warning(ng-click='g.useSolution(result)') Use this result
        div(ng-show='g.selected === result')
          div(ng-repeat='s in result.stack') {{ s }}
      div(ng-if='!g.loading && g.results.length === 0') No results found
